<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.MAG"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name" android:name=".KingFisher2Activity" android:noHistory="true">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".Intro" android:noHistory="true" />
        <activity android:label="@string/app_name" android:name=".ModeSelection" android:noHistory="true" />
        <activity android:label="@string/app_name" android:name=".LevelSelection" android:noHistory="true" />
        <activity android:label="@string/app_name" android:name=".TravelScene" android:noHistory="true" />
        <activity android:label="@string/app_name" android:name=".Caster" android:noHistory="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:label="@string/app_name" android:name=".Reeler" android:noHistory="true" />
        <activity android:label="@string/app_name" android:name=".Shaker" android:noHistory="true" />
        <activity android:label="@string/app_name" android:name=".Rejecterator" android:noHistory="true" />
    </application>

</manifest>